.conte-candidato1 {
    background: white;
    width: 420px;
    height: 300px;
    border: 2px solid black;
    border-radius: 15px;

}

.candidato1-h1 {
    color: black;
    text-align: center;
   
    font-size: 40px;
}

.num1 {
    padding-top: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: blue;
}

.mas {
 background-color: aqua;
 color: white;
 font-size: 20px;
 height: 70px;
 width: 90px;
 border-radius: 15%;
 cursor: pointer;
}

.mas:hover {
    color: black;
    background-color: white;

}

.menos {
    background-color: aqua;
    color: white;
    font-size: 20px;
    height: 70px;
    width: 90px;
    border-radius: 15%;
    cursor: pointer;
}

.menos:hover {
    color: black;
    background-color: white;
}



.mas-menos {
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.conte-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}